<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeni Hayvan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container mt-5">
<form th:action="@{/pages/animals/new}" method="post" th:object="${animal}">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input th:field="${animal.age}" class="form-control" />
        <label class="form-label">Hayvanın ismi</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input th:field="${animal.age}" class="form-control" />
        <label class="form-label" >Hayvanın Yaşı</label>
    </div>

    <div class="form-outline mb-4">
        <input th:field="${animal.type}" class="form-control" />
        <label class="form-label" >Hayvanın Türü</label>
    </div>

    <div class="form-outline mb-4">
        <input th:field="${animal.sex}" class="form-control" />
        <label class="form-label" >Hayvanın Cinsi </label>
    </div>

    <div class="form-outline mb-4">
        <input th:field="${animal.owner.id}" class="form-control" />
        <label class="form-label" >Owner ID </label>
    </div>



    <!-- Submit button -->
    <input type="submit" value="Ekle" class="btn btn-primary btn-block mb-4" />

</form>
</body>
</html>